.body{
    background-color: silver;
}
.container{
    width: 50%;
    font-weight: bold;
    margin: 10px;
    background-color: #f1c40f;
    border: 5px solid rgba(40, 140, 221, 0.356);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
position: relative; 

transform: translate(+50%, +100%);


}
.parent{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
}
.name{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.pass{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.birthday{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.phone{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.salary{
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.submit{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button{
    
    font-weight: bold;
    background-color:#f39c12;
    border: 2px solid #f39c12;
    width: 150px;
    margin: 10px;
}
.message{
    color: red;
    margin: 15px;
    display: grid;
    justify-content: left; 
}